<div class="centered-content">
    <div class="login-box">
        <h1 class="title has-text-primary ceneterd">FRIC</h1>
        <div class="field">
            <p class="control has-icons-left has-icons-right">
              <input #ipInput class="input has-background-light" type="text" placeholder="IP Address">
              <span class="icon is-small is-left">
                <i class="fas fa-network-wired"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <input #intialsInput class="input has-background-light" type="text" placeholder="Initials">
              <span class="icon is-small is-left">
                <i class="fas fa-signature"></i>
              </span>
            </p>
          </div>
          <div class="field is-pulled-right">
            <p class="control">
              <button class="button is-success has-text-white">
                Login
              </button>
            </p>
          </div>
          <div class="field">
            <div class="control">
              <label>
               Findings and Reporting Information Console
              </label>
            </div>
          </div>
    </div>
    
</div>