<header class="hero">
    <div class="hero-head">
      <nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">

          <a class="navbar-item is--brand">
            <img class="navbar-brand-logo" src="" alt="FRIC LOGO">
          </a>
          <a class="navbar-item is-tab is-hidden-mobile is-active"><span class="icon is-medium"><i class="fa fa-home"></i></span>Event</a>
          <a class="navbar-item is-tab is-hidden-mobile"><span class="icon is-medium"><i class="fa fa-home"></i></span>Systems</a>
          <a class="navbar-item is-tab is-hidden-mobile"><span class="icon is-medium"><i class="fa fa-tasks"></i></span>Tasks</a>
          <a class="navbar-item is-tab is-hidden-mobile"><span class="icon is-medium"><i class="fa fa-list"></i></span>Subtasks</a>
          <a class="navbar-item is-tab is-hidden-mobile"><span class="icon is-medium"><i class="fa fa-file-contract"></i></span>Findings</a>
          <a class="navbar-item is-tab is-hidden-mobile"><span class="icon is-medium"><i class="fa fa-archive"></i></span>Archive</a>
          <a class="navbar-item is-tab is-hidden-mobile"><span class="icon is-medium"><i class="fa fa-cogs"></i></span>Configuration</a>
          <a class="navbar-item is-tab is-hidden-mobile"><span class="icon is-medium"><i class="fa fa-cog"></i></span>Setup</a>
          <a class="navbar-item is-tab is-hidden-mobile"><span class="icon is-medium"><i class="fa fa-question-circle"></i></span>Help</a>

          <button class="button navbar-burger" data-target="navMenu">
            <span></span>
            <span></span>
            <span></span>
          </button>

        </div>


        <div class="navbar-menu navbar-end" id="navMenu">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" >
              <figure class="image is-32x32" style="margin-right:.5em;">
                <img src="https://avatars1.githubusercontent.com/u/7221389?v=4&s=32">
              </figure>
              k.a
            </a>

            <div class="navbar-dropdown is-right">
                <a class="navbar-item">
                  <span class="icon is-small">
                    <i class="fa fa-user-o"></i>
                  </span>
                  &nbsp; Profile
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item">
                  <span class="icon is-small">
                    <i class="fa fa-power-off"></i>
                  </span>
                  &nbsp; Logout
                </a>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </header>

  
